@fa-font-path: "../../../../../fonts";
@font-path: "../../../../../../client/fonts";

@brand-primary-value: #3575D3;
@brand-success-value: #4caf50;
@brand-warning-value: #F5DC50;
@brand-danger-value: #D22323;

@text-color-value: #333;
@text-muted-value: #999;
@link-color-value: #3575d3;

@navbar-inverse-color: #FFF;
@navbar-inverse-bg: #363635;
@navbar-inverse-link-color: #F7F7F7;
@navbar-inverse-link-hover-color: #fff;
@navbar-inverse-link-hover-bg: #363635;
@navbar-inverse-link-active-bg: @brand-primary-value;

@brand-danger-5: #D22323;
@body-bg: #fff;
@modal-footer-bg-value: @body-bg;
@modal-header-bg-value: @body-bg;
@modal-content-bg-value: @body-bg;
@modal-header-border-color-value: @body-bg;

@select-item-active-bg: #3575d3;

@border-radius-value: 0px;
@panel-border-radius-value: 0px;

// @calendar-border-value: @panel-bg-value;
// @calendar-today-bg-value: #242a30;

@login-panel-heading-bg-value: @navbar-inverse-bg;
